.add {
    width:30%;
    text-align: center;
    border:1px solid black;
    margin: auto;
    padding: 3%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(149, 153, 180);
    background-color: rgb(196, 204, 218);
    color:   rgb(27, 53, 92);
    font-size: 20;
   
}

input[type=text] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}


input[type=submit] {
    height: 75px;
    width: 200px;
    background-color: #3c516b;
    color: white;
    border: 2px rgb(29, 29, 29) solid;
}

input[type=reset] {
    height: 75px;
    width: 100px;
    background-color: #3c516b;
    color: white;
    border: 2px rgb(29, 29, 29) solid;
}

select{
    width: 75px;
    line-height: 50px;
    font-size: 18pt;
}


option{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color:   rgb(27, 53, 92);
    font-size: 20;
}

